#   Ignore python precompiled code
*.pyc

#   Ignore pretrained model
pretrained/

#   Ignore mpii data
mpii/images
mpii/train/
mpii/gt/
mpii/annotation.mat

#   Ignore H36M data
H36MSample

#   Ignore tmp file
tmp*/
log/

#   Ignore test data
data/
*.npy

#	Ignore backup file
*.bak.tar

#   Ignore Pycharm files
.idea/

#   Ignore Pretrained model
*.ckpt*

#   Ignore test images
*.jpg